html {
    box-sizing: border-box;
    font-size: 18px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 27%);
    margin: 0 auto;
}

h1, h2, h3 {
    color: hsl(0, 0%, 27%);
    font-weight: 700;
}

h3 {
    font-size: 1.25rem;
}

section {
    margin: 2rem auto;
}

p {
    margin: 0 auto;
}

li {
    list-style-position: inside;
}

.contact-label {
    font-weight: 700;
}

.experience > ul > li {
    list-style: none;
}

.experience p.date {
    font-weight: 700;
}

.education ul li {
    list-style: none;
    margin: 1rem auto;
}

.education span {
    display: block;
}

.education span.course-name {
    font-weight: 700;
}